#global-nav {
    display: flex;
    justify-content: space-between;
    background: var(--footer-background-color);

    --focus-offset: calc(2 * var(--focus-offset-in)); /* Don't clip focus ring. */

    & > a[href],
    & > button {
        background: transparent;
        border: none;
    }

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    & > * > .icon {
        display: block;
        font-size: var(--icon-size);
    }

    & > .square {
        flex: 0 0 var(--bar-height);
    }
}


#masthead {
    display: flex;
    flex: 0 0 auto;
    font: 1.5rem Montez, sans-serif;
    padding: 0 0.5rem;

    &:link {
        text-decoration: none;
    }

    .logotype {
        display: block;
    }

    @media (max-width: 30rem) {
        .logotype { display: none; }
    }
}

.global-links {
    flex: 1 1 100%;
    display: flex;
}

.global-link {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    --focus-offset: var(--focus-offset-in); /* Don't clip focus ring. */
    padding: 1rem; /* Ensure spacing between */
    font-variant: small-caps;
    font-variation-settings: "opsz" 25;
}
