#global-nav {
    display: flex;
    justify-content: space-between;
    background: var(--footer-background-color);
    min-height: var(--bar-height); /* So .square is square */

    --focus-offset: calc(2 * var(--focus-offset-in)); /* Don't clip focus ring. */

    & > a[href],
    & > button {
        background: transparent;
        border: none;
    }

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    & > * > .icon {
        display: block;
        font-size: var(--icon-size);
    }

    & > .square {
        flex: 0 0 var(--bar-height);
    }
}


#masthead {
    display: flex;
    flex: 0 0 auto;
    font: 1.5rem Montez, sans-serif;
    padding: 0 0.5rem;

    &:link {
        text-decoration: none;
    }

    .logotype {
        display: block;
    }

    @media (max-width: 30rem) {
        .logotype { display: none; }
    }
}

.global-links {
    flex: 1 1 100%;
    display: flex;
    padding: 0 1rem;
    gap: 2rem;
    @media (max-width: 45rem) {
        gap: 1rem;
    }
    @media (max-width: 30rem) {
        gap: 0.5rem;
    }
}

.global-link {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.25rem;

    font-variant: small-caps;
    font-variation-settings: "opsz" 25;

    .icon {
        --icon-color: var(--selected-color);
    }
    span {
        white-space: nowrap;

        @media (max-width: 45rem) {
            font-size: smaller;
            --icon-size: smaller;
        }
    }

    @media (max-width: 30rem) {
        &.secondary {
            display: none;
        }
    }
}
