#icon-sprites {
    display: none;
}

.icon {
    color: var(--icon-color);
}

.icon-inline {
    transform: translateY(0.075em);
}

.icon-heart {
    --icon-color: var(--heart-color);
}
.icon-check {
    --icon-color: var(--check-color);
}

.clocktime {
    transform: translateY(0.075em); /* Align with text baseline */
    padding-inline: 0.25rem;

    .face {
        fill: color-mix(in hsl, var(--background-color) 85%, var(--text-color));
        stroke: var(--text-color);
    }
    .pie {
        fill: none;
        stroke: var(--text-color);
    }
}
