#icon-sprites {
    display: none;
}

.icon {
    color: var(--icon-color);
}

.icon-inline {
    transform: translateY(0.075em);
}

.icon-heart {
    --icon-color: var(--heart-color);
}
.icon-check {
    --icon-color: var(--check-color);
}
