.inventory-centered {
    max-width: var(--layout-max-width);
    margin: 0 auto;
}

.inventory-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    max-width: var(--layout-max-width);
    margin: 0 auto;
}


.feed-list,
.label-list {
    white-space: nowrap;

    thead, tbody, tfoot {
        display: contents;
    }
    td {
        display: block;
    }

}

.feed-list-item {
    & > * {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & > .col-feed {}
    & > .col-unread {}
    & > .col-fave {}
    & > .col-site-url {}
    & > .col-changed {}
    & > .col-edit {
        display: flex;
        align-content: center;
        a {
            display: block;
            padding: 0.25rem; // increase clickable area
        }
        svg {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

// On wide displays, show a table with scannable columns.
@media screen and (min-width: 32rem) {
    .feed-list {
        display: grid;
        grid: auto /
            5fr max-content max-content 5fr max-content min-content;
    }

    .feed-list-item {
        display: contents;

        th, td {
            display: flex;
            align-items: center;
            justify-content: stretch;
            padding: 0.75rem 0.5rem;
        }

        & > .col-feed {}
        & > .col-unread { justify-content: end; }
        & > .col-fave { justify-content: end; }
        & > .col-site-url {}
        & > .col-changed { justify-content: end; }
        & > .col-edit {}
    }

    .feed-list-item-header {
        text-transform: uppercase;
        font-size: smaller;
    }

    // Zebra stripes. Have to handle the header specially.
    .feed-list-item-header > th {
        font: inherit;
        background: var(--footer-background-color);
        border-bottom: 2px solid var(--quiet-text-color);
    }
    .feed-list-item:nth-child(even) > td {
        background: var(--footer-background-color);
    }
}

// On narrow displays display a fatter row suitable for touchscreens.
@media screen and (max-width: 32rem) {
    .feed-list {
        display: grid;
        grid: auto-flow auto / 1fr;
    }

    .feed-list-item {
        display: grid;
        grid:
            "feed     unread edit" min-content
            "changed  fave   edit" min-content / 1fr min-content min-content;
        padding: 0.75rem var(--text-padding);

        & > .col-feed { grid-area: feed; padding: 0 0.5rem 0 0; }
        & > .col-unread { grid-area: unread; padding: 0 0.5rem; text-align: right; }
        & > .col-fave { grid-area: fave; padding: 0 0.5rem; text-align: right; }
        & > .col-unread::after { content: " unread"; }
        & > .col-fave::after { content: " favorites"; }
        & > .col-site-url { display: none; }
        & > .col-changed { grid-area: changed; }
        & > .col-changed::before { content: "Updated "; }
        & > .col-edit { grid-area: edit; padding: 0 0 0 0.5rem; }
    }

    // Hide the header, as we have duplicated its function inline.
    .feed-list-item-header {
        display: none;
    }

    // Zebra stripes
    .feed-list-item:nth-child(odd) {
        background: var(--footer-background-color);
    }
}

.label-list-item {
    // & > :nth-child(1) { background: hsla(160, 60%, 50%, 0.5); }
    // & > :nth-child(2) { background: hsla(120, 60%, 50%, 0.5); }
    // & > :nth-child(3) { background: hsla(060, 60%, 50%, 0.5); }
    // & > :nth-child(4) { background: hsla(190, 60%, 50%, 0.5); }
    // & > :nth-child(5) { background: hsla(000, 60%, 50%, 0.5); }
    // & > :nth-child(6) { background: hsla(040, 60%, 50%, 0.5); }

    // Icon
    & > :nth-child(1) {
        display: flex;
        align-items: center;
        svg {
            width: 2.0rem;
            height: 2.0rem;
        }
    }

    // Label name
    & > :nth-child(2) {
    }

    // Feed count
    & > :nth-child(3) {
    }

    // Unread count
    & > :nth-child(4) {
    }

    // Fave count
    & > :nth-child(5) {
    }
    // Edit button
    & > :nth-child(6) {
        a {
            display: block;
            padding: 0.25rem; // increase clickable area
        }
        svg {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

// On wide displays, show a table with scannable columns.
@media screen and (min-width: 32rem) {
    .label-list {
        display: grid;
        grid: "icon title feeds unread fave edit" auto /
            max-content 5fr minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr);
    }

    .label-list-item {
        display: contents;

        th, td {
            display: flex;
            align-items: center;
            justify-content: stretch;
            padding: 0.75rem 0.5rem;
        }

        & > :nth-child(1) { padding-right: 0; }
        & > :nth-child(3) { justify-content: end; }
        & > :nth-child(4) { justify-content: end; }
        & > :nth-child(5) { justify-content: end; }
        & > :nth-child(6) { justify-content: end; }
    }

    .label-list-item-header {
        text-transform: uppercase;
        font-size: smaller;
    }

    // Zebra stripes. Have to handle the header specially.
    .label-list-item-header > th {
        font-weight: normal;
        background: var(--footer-background-color);
        border-bottom: 2px solid var(--quiet-text-color);
    }
    .label-list-item:nth-child(even) > td {
        background: var(--footer-background-color);
    }
}

// On narrow displays display a fatter row suitable for touchscreens.
@media screen and (max-width: 32rem) {
    .label-list {
        display: grid;
        grid: auto-flow auto / 1fr;
    }

    .label-list-item {
        display: grid;
        grid:
            "icon title unread edit" min-content
            "icon feeds fave   edit" min-content / min-content 1fr min-content min-content;
        padding: 0.75rem var(--text-padding);

        & > td:nth-child(1) { grid-area: icon; padding: 0 0.5rem 0 0; }
        & > td:nth-child(2) { grid-area: title; }
        & > td:nth-child(3) { grid-area: feeds; }
        & > td:nth-child(3)::after { content: " feeds"; }
        & > td:nth-child(4) { grid-area: unread; padding: 0 0.5rem; text-align: right; }
        & > td:nth-child(4) a::after { content: " unread"; }
        & > td:nth-child(5) { grid-area: fave; padding: 0 0.5rem; text-align: right; }
        & > td:nth-child(5) a::after { content: " favorites"; }
        & > td:nth-child(6) { grid-area: edit; padding: 0 0 0 0.5rem; }
    }

    // Hide the header, as we have duplicated its function inline.
    .label-list-item-header {
        display: none;
    }

    // Zebra stripes
    .label-list-item:nth-child(odd) {
        background: var(--footer-background-color);
    }
}

.inventory-tools {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .remove-button, input[type=submit] {
        flex: 0 1 auto;
        width: auto;
    }
}

.feed-error {
    white-space: pre-wrap;
}

.add-feed-form {
    display: flex;

    input[type=url] {
        flex: 1 1 100%;
        min-width: 0;
    }
    input[type=submit] {
        flex: 1 1 0;
        margin-left: var(--text-padding);
    }
}

.register-feed-reader-form {
    input {
        display: inline-block;
        width: auto;
    }
}
