@import "../include.less";

.list-header-inner {
    margin: 0 auto;
    max-width: var(--layout-max-width);
    box-sizing: border-box;

    & > .expand {
        justify-content: flex-start;
    }
    h1 {
        min-width: 0;
        width: 100%;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font: inherit;
        font-size: 1.5rem;
        line-height: 2; /* Otherwise descenders get cropped by overflow: hidden */
    }
    .icon {
        color: #666;
        font-size: 1.5rem;
    }
}

.snapshot-nav {
    // background: #eee;
    margin: 0 3rem;
}
.snapshot-nav-prev {
}
.snapshot-nav-icon {
}
.snapshot-nav-text {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    &>* {
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.snapshot-nav-title {
    // background: yellow;
}
.snapshot-nav-status {
    // background: violet;
}
.snapshot-nav-order {
}
.snapshot-nav-next {
}
