@import "../include.less";

.inventory {
    max-width: var(--layout-max-width);
    margin: 0 auto;
    padding: @text_padding;
    box-sizing: border-box;
}

.inventory-table {
    display: block;
    margin: 0 -0.25rem;

    thead, tbody {
        display: block;
    }
    tr {
        display: grid;
    }
    th, td, td > a {
        display: block;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-feed {
    }
    .col-unread {
    }
    .col-edit {
    }
}

.feed-table tr {
    grid-template-columns: 2rem 2.5rem 2fr 1fr 1fr 1.5rem;
}

.label-table tr {
    grid-template-columns: 2rem 1fr 2rem 1.5rem;
}

.inventory-item {
    h2 {
        font: normal 1.25rem / 1.5rem sans-serif;
        padding: 0 0 1rem 0;
        margin: 0;
    }

    .tools {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .remove-button, input[type=submit] {
            flex: 0 1 auto;
            width: auto;
        }
    }
}

form.add-feed-form {
    display: flex;

    input[type=url] {
        flex: 1 1 100%;
        min-width: 0;
    }
    input[type=submit] {
        flex: 1 1 0;
        margin-left: @text_padding;
    }
}
