@import "../globals.less";

.inventory-view {
}

.inventory-header {
    .content-colors;
}
.inventory-header-inner {
    margin: 0 auto;
    padding: @text_padding;
    box-sizing: border-box;
}
.layout-narrow .inventory-header-inner {
    max-width: @narrow_width;
}

.inventory-item-wrap {
    margin: 0 0 1px 0;
    .content-colors;
}

.inventory-item {
    margin: 0 auto;
    padding: @text_padding;
    box-sizing: border-box;

    h2 {
        font: normal 1.25rem / 1.5rem sans-serif;
        padding: 0 0 1rem 0;
        margin: 0;
    }

    .tools {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        label {
            flex: 1 1 auto;
            display: flex;
            height: 2.5rem;
            line-height: 2.5rem;
        }

        .remove-button {
            flex: 0 1 auto;
            width: auto;
        }
    }
}
.layout-narrow .inventory-item {
    max-width: @narrow_width;
}

.add-feed {
    .content-colors;
}
.add-feed-inner {
    margin: 0 auto;
    padding: @text_padding;
    box-sizing: border-box;

    form {
        display: flex;

        input[type=url] {
            flex: 1 1 100%;
            min-width: 0;
        }
        input[type=submit] {
            flex: 1 1 0;
            margin-left: @text_padding;
        }
    }
}

.layout-narrow .add-feed-inner {
    max-width: @narrow_width;
}

