@import "../globals.less";

.inventory-view {
    .label-picker {
        margin: 80px;
        .content-colors;

        .options {
            max-height: 80vh;
            overflow-y: auto;
        }

        button {
            display: block;
            margin: 0;
            width: 100%;
            padding: 8px;
            border: 0;
            background: transparent;
        }

        .cancel {
            background: orange;
            color: white;
        }
    }
}
