@import "../globals.less";

.root-view {
    /* Allow space for the floating controls */
    padding: @toolbar_height 4px 4px 4px;

    .content-colors;

    ul, li {
        list-style: none;
        padding: 0;
    }

    li {
        display: flex;
        flex-flow: row nowrap;

        .new-link {
            flex: 1 1 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none !important;

            .new-count {
            }
        }
        .saved-link {
            flex: 0 0 auto;
            text-decoration: none !important;
            width: 48px;
            text-align: center;
            position: relative;

            .star-icon {
                position: absolute;
                top: 0;
                left: 0;
            }
            .saved-count {
                position: absolute;
                top: 4px;
                left: 0;
                width: 48px;
                height: 44px;
                line-height: 44px;
            }
        }
    }
    li + li {
        border-top: 1px solid darken(@content_background_color, 10%);
    }
}
