@import "../globals.less";

.view-narrow .article-wrap {
    margin: 0 auto @toolbar_height auto;
    max-width: calc(40px + 34em);
    article {
        padding: 8px 16px 0 16px;
    }
}

.view-wide .article-wrap {
    margin: 0 0 4px 4px;

    article {
        padding: 8px 4px 0 4px;
    }
}

.article-wrap {
    display: flex;
    flex: row nowrap;

    .tools {
        flex: 0 0 auto;
        width: 48px;
    }

    article {
        flex: 1 1 auto;
        min-width: 0; /* allow flex to collapse past natural width */
    }
}

/* The "tools" div is a channel which buttons float in.
 *
 * TODO: When there is sufficient space, add text labels to the buttons.
 */
.tools {
    .tool-wrap {
        position: sticky;
        top: 0;
    }

    button, a {
        display: block;
        width: 40px;
        height: 40px;
        margin: 8px 0;
        padding: 0;

        .button;

        img {
            display: block;
            width: 24px;
            height: 24px;
            padding: 8px;
        }
    }
    a:link, a:visited {
    }
}

article {
    position: relative;
    word-wrap: break-word; /* Don't let long lines break the layout */

    .content-colors;

    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 0;
        padding: 0;
    }
    h1 {
        font: normal 24px / 32px sans-serif;
        padding: 10px 0 2px 0;

        a[href] {
            text-decoration: none;
        }
    }
    h2, h3, h4, h5, h6 {
        font: inherit;
        font-weight: bold;
        margin: 12px 0;
    }
    .meta {
        color: lighten(@content_text_color, 40%);
    }
    p {
        margin: 12px 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    hr {
        margin: 16px 32px;
        border: 2px solid @text_color;
    }
}
