@import "../globals.less";

.layout-narrow .article-wrap {
    max-width: calc(40px + @narrow_width);
}

.layout-wide .article-wrap {
}

.article-wrap {
    margin: 16px auto;

    .content-colors;
}

.frontmatter {
    display: flex;
    flex-flow: row nowrap;
}

.meta {
    color: @quiet_text_color;
    flex: 1 2 0;
    margin: 0 0 1em 0;
    p {
        margin: 0;
    }
}

.top-tools {
    display: flex;
    flex-flow: row wrap;
}

.bottom-tools {
    display: flex;
    flex-flow: row wrap;
}

.lozenge {
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    border: 2px solid #efefef;
    border-radius: .5em;
    white-space: nowrap;
    margin: 4px;
}

article {
    padding: 0px 16px 16px 16px;
    margin: 0;
    word-wrap: break-word; /* Don't let long lines break the layout */

    h1 {
        font: normal 18px / 24px sans-serif;
        padding: 12px 0 2px 0;

        a[href] {
            text-decoration: none;
        }
    }

    .content {
        h1, h2, h3, h4, h5, h6, p, blockquote {
            margin: 0;
            padding: 0;
        }
        h1, h2, h3, h4, h5, h6 {
            font: inherit;
            font-weight: bold;
            margin: 12px 0;
        }

        p {
            margin: 12px 0;
        }

        blockquote {
            margin: 12px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        hr {
            margin: 16px 32px;
            border: 0.5px solid @quiet_text_color;
        }
    }
}
