@import "../globals.less";

article {
    max-width: 34em;

    padding: 8px 16px 0 16px;
    margin: @toolbar_height auto;

    box-shadow: 0 0 16px black;
}

article {
    word-wrap: break-word; /* Don't let long lines break the layout */

    .content-colors;

    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 0;
        padding: 0;
    }
    h1 {
        font: normal 24px / 32px sans-serif;
        padding: 10px 0 2px 0;

        a[href] {
            text-decoration: none;
        }
    }
    h2, h3, h4, h5, h6 {
        font: inherit;
        font-weight: bold;
        margin: 12px 0;
    }
    .meta {
        color: lighten(@content_text_color, 40%);
    }
    p {
        margin: 12px 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    hr {
        margin: 16px 32px;
        border: 2px solid @text_color;
    }
}

article footer {
    background: @toolbar_background_color;
    position: sticky;
    bottom: 0;
    margin: 16px -16px 0 -16px;
    height: @toolbar_height;
    display: flex;
    align-items: stretch;

    button, a:link, a:visited {
        .toolbar-button;
        .toolbar-button-text;
    }

    /* The buttons are packed on the left side of the toolbar */
    button {
        flex: none;
    }

    a:link, a:visited {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        align-self: flex-end;
        margin: 0 0 0 auto; /* right align */
    }
}
