@import "../include.less";

.yarrharr-masthead {
    display: flex;
    flex: 0 0 auto;

    img {
        flex: 1 1 auto;
        width: auto;
        height: auto;
        max-height: 100%;
    }

    .logotype {
        display: block;
        width: 10rem;
    }
    .lettertype {
        display: none;
        width: 3rem;
    }

    @media (max-width: 30rem) {
        .logotype { display: none; }
        .lettertype { display: block; }
    }
}
.global-links {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;
    justify-items: stretch;
}
.global-link {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem; /* Ensure spacing between */
    .flat-button;
    &:hover { .flat-button-hover; }
    body.focus-visible &:focus { .flat-button-focus; }
}
.global-link:focus {
    outline-color: transparent;
}
