#icon-sprites {
    display: none;
}

/* Icons have this class by default, which makes them a generic gray. */
.icon {
    color: var(--icon-color);
}

.icon-heart {
    --icon-color: var(--heart-color);
}
