@import "../globals.less";

.list-article {
    height: 48px;
    display: flex;
    contain: strict;
    flex-flow: row nowrap;
    margin: 4px 0;
    align-items: center;

    a[role=button], .outbound {
        .flat-button;
        &:focus { .flat-button-focus; }
    }

    a {
        padding: 4px;
    }
    a > img {
        display: block;
    }

    a.view-link {
        flex: 1 1 100%;
        min-width: 0;
        display: block;
        .content-colors;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        text-decoration: none;

        .meta {
            color: @quiet_text_color;
        }
    }

    &.loading {
        /* This span occupies the same space as the view-link would once
         * loaded. Its background color serves as a loading indicator. */
        span {
            display: block;
            height: 100%;
            width: calc(100% - 52px - 52px);
            box-sizing: border-box;
            background: @content_background_color;
        }
    }
}

.layout-narrow .list-article {
    max-width: @narrow_width;
    margin: 4px auto;
}
