@import "../globals.less";

.list-article {
    height: 48px;
    display: flex;
    flex-flow: row nowrap;
    margin: 4px 0;
    align-items: center;

    a[role=button], .outbound {
        .flat-button;
        &:focus { .flat-button-focus; }
    }

    a {
        padding: 4px;
    }
    a > img {
        display: block;
    }

    a.view-link {
        flex: 1 1 100%;
        min-width: 0;
        display: block;
        .content-colors;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        text-decoration: none;

        .meta {
            color: @quiet_text_color;
        }
    }
}

.layout-narrow .list-article {
    max-width: @narrow_width;
    margin: 4px auto;
}
