@import "../globals.less";

.list-article {
    contain: strict;

    height: calc(2 * 1.25rem + 2 * 0.25rem + 2 * 0.125rem);
    /* The line height relates to the above height calculation, which allows
     * for two lines of text. We must make sure that the line-height is
     * a static value, not based on the x-height of the font, since we don't
     * specify the font. */
    line-height: 1.25rem;

    margin: 0 0 1px 0;

    .content-colors;
}

.list-article-inner {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    align-items: stretch;

    a[role=button], .outbound {
        .flat-button;
        &:focus { .flat-button-focus; }
    }

    a {
        padding: 0.25rem;
    }
    a > img {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }

    a.view-link {
        flex: 1 1 100%;
        min-width: 0;
        display: block;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        text-decoration: none;
        .flat-button;
        &:focus { .flat-button-focus; }

        .meta {
            color: @quiet_text_color;
        }
    }
}

.layout-narrow .list-article-inner {
    max-width: @narrow_width;
    margin: 0 auto;
}
