.fave-toggle .icon {
    color: var(--icon-color-off);
    transition: all 200ms ease;
}
.fave-toggle[aria-pressed=true] .icon {
    color: var(--heart-color);
}

.read-toggle {
    .inactive {
        fill: var(--check-color);
    }
    .active {
        fill: var(--icon-color-off);
        transform: translateX(100%);
        transition: transform 150ms ease-in;
    }
    &[aria-pressed=true] .active {
        transform: translateX(0);
    }
}

