@import "../include.less";

/**
 * <div.tabs>    // container with bottom border
 *   <div.tabs-tabs> // container which applies max-width
 *     <a>text</a>
 *     <a aria-disabled="true">current tab</a>
 *   </div>
 * </div>
 */
.tabs {
    border-bottom: 2px solid var(--border-color);
    contain: layout style;
    background: var(--background-color);
}
.tabs-tabs {
    max-width: var(--layout-max-width);
    display: flex;
    margin: 0 auto -2px auto;
    padding: 0 0 0 .5rem;
    box-sizing: border-box;
}
/* base tab styles */
.tabs-tabs > a {
    --tab-shape-color: transparent;
    --tab-background-color: transparent;

    border-style: solid;
    border-width: 2px;
    border-bottom-width: 0;
    border-color: var(--tab-shape-color) var(--tab-shape-color) var(--border-color) var(--tab-shape-color);
    background: var(--tab-background-color);
    text-decoration: none;
    line-height: 1.7;
    padding: 0.125rem 1rem 0 1rem;
    margin: 0 .5rem 2px 0;

    &:hover {
        --tab-shape-color: var(--border-color);
    }
    &:focus {
        outline: none;
        /* FIXME need a var for this, it was copied from .form-item-focusable:focus */
        --tab-shape-color: @focus_blue;
    }
}
/* current tab */
.tabs-tabs > a[aria-disabled="true"] {
    --tab-shape-color: var(--border-color);
    --tab-background-color: var(--background-color);
    margin-bottom: 0;
}
@media screen and (max-width: 34em) {
    .tabs-tabs {
        padding: 0;
    }
    .tabs-tabs > a {
        margin-left: 0;
        margin-right: 2px; /* Prevent borders from abutting, which looks bad. */
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        line-height: 2.0; /* Increases height so tabs are more tappable. */
        flex-basis: 100%;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .tabs-tabs > a + a {
        border-left-width: 2px;
    }
    .tabs-tabs > a:first-child {
        border-left-width: 0;
    }
    .tabs-tabs > a:last-child {
        border-right-width: 0;
        margin-right: 0;
    }
}
/* TODO: Check what happens in very narrow windows. */
/* TODO: Make less ugly. */
