.article-header {
    display: grid;
    grid-template-columns: 1fr min-content;

    .meta {
        text-transform: uppercase;
        font-size: smaller;
        color: var(--quiet-text-color);
        p {
            margin: 0;
        }
    }

    .tools {
        display: flex;
        flex-flow: row nowrap;

        .icon {
            width: 2em;
            height: 2em;
        }
    }
}

article {
    h1 {
        margin: 1rem auto;
    }

    padding: 0 0 1rem 0;
    margin: 0.5rem 0;
    word-wrap: break-word; /* Don't let long lines break the layout */

    & > * {
        padding: 0 0.25rem;
        margin: 0 auto;
    }
    .layout-narrow & > * {
        max-width: var(--layout-max-width);
    }

    .content {
        font: normal 1.2rem / 1.7 "Newsreader";

        h1, h2, h3, h4, h5, h6, p, blockquote {
            margin: 0;
            padding: 0;
        }
        h1, h2, h3, h4, h5, h6 {
            font: inherit;
            font-weight: 500;
            margin: 1.75rem 0 0.75rem 0;
            font-variation-settings: "opsz" 60;
        }

        p {
            margin: 0.75rem 0;
        }

        blockquote {
            margin: 0.75rem;
        }

        img, video {
            max-width: 100%;
            height: auto;
        }

        hr {
            margin: 1rem 0;
            border: 0 solid var(--quiet-text-color);
            border-width: 1.5px 0 0 0;
        }

        pre {
            white-space: pre-wrap;
        }

        /* <img src="...">
         * <aside class="title-text">xkcd tooltip</aside> */
        aside.title-text {
            font-style: italic;
        }

        /* <a href=... class=youtube-thumb>
         *    <img src=thumbnail>
         *    <svg><!-- icon --></svg>
         * </a> */
        a.youtube-thumb {
            display: inline-block;
            position: relative;

            img {
                display: block;
            }

            svg {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;
                width: 2rem;
                height: 2rem;
                color: red;
            }
        }
    }
}

.article-footer {
    display: flex;
    justify-content: center;

    .icon {
        width: 2em;
        height: 2em;
    }
}
