@import "./include.less";

/**
 * <div.tabs>
 *   <div.tabs-tabs>
 *     <a>text</a>
 *     <a aria-disabled="true">current tab</a>
 *   </div>
 * </div>
 */
.tabs {
    background: var(--background-color);
}
.tabs-tabs {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0 0 2px 0;
}
/* base tab styles */
.tabs-tabs > a {
    flex: 0 1 2rem;
    --tab-shape-color: transparent;

    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: var(--border-color);
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    line-height: 1.7;
    padding: 0.125rem 8px 0 8px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}
/* current tab */
.tabs-tabs > a[aria-selected=true] {
    --border-color: var(--selected-color);
}

.tabs-tabs .count {
    font-size: 0.7em;
    background: rgba(127, 127, 127, 0.3);
    padding: 0.25em 0.5em;
    border-radius: 2em;
    position: relative;
    top: -0.25em;
}
