{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [
          "Firefox >= 54",
          "Chrome >= 60",
        ]
      }
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": ["react-hot-loader/babel"]
}
