{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [
          "Firefox >= 54",
          "Chrome >= 60",
          "Edge >= 15"
        ]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
