*.sqlite
*.sqlite-wal
*.sqlite-shm
*.pyc
__pycache__/

/build
/dist
/.tox
/yarrharr.egg-info
/yarrharr/static
/static
/node_modules

# Trial test droppings.
_trial_temp*/
/yarrharr.tests.test_application
