@import "./globals.less";

article {
    max-width: 34em;

    padding: 8px 16px 0 16px;
    margin: @toolbar_height auto;

    box-shadow: 0 0 16px black;
}

article {
    word-wrap: break-word; /* Don't let long lines break the layout */

    .content-colors;

    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 0;
        padding: 0;
    }
    h1 {
        font: normal 24px / 32px sans-serif;
        padding: 10px 0 2px 0;
    }
    h2, h3, h4, h5, h6 {
        font: inherit;
        font-weight: bold;
        margin: 12px 0;
    }
    .meta {
        color: lighten(@content_text_color, 40%);
    }
    p {
        margin: 12px 0;
    }

    img {
        max-width: 100%;
        height: auto;
        max-height: calc(100vh - (2 * @toolbar_height));
    }

    hr {
        margin: 16px 32px;
        border: 2px solid @text_color;
    }
}

@footer_background_color: darken(@content_background_color, 10%);

article footer {
    background: @footer_background_color;
    position: sticky;
    bottom: 0;
    margin: 16px -16px 0 -16px;
    height: 40px;
    display: flex;

    button, a:link, a:visited {
        &:focus {
            background: darken(@content_background_color, 20%);
            outline: none;
        }
        &:active {
            background: @logo_orange;
            color: white;
        }
    }

    button {
        flex: 0;
        height: 40px;
        width: auto;
        margin: 0;
        padding: 0 16px;
        border: 0;
        border-top: 4px solid transparent;
        background: @footer_background_color;
        color: @content_text_color;

        &.current {
            border-top-color: @logo_orange;
        }
        &.progress {
            animation: progress-stripe 2s linear infinite;
        }
    }

    a:link, a:visited {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        align-self: flex-end;
        padding: 0 16px;
        margin: 0 0 0 auto;
        display: block;
        text-align: right;
        border-top: 4px solid transparent;
        line-height: 36px;
    }
}

@keyframes progress-stripe {
    0% {
        background: @logo_orange;
    }
    50% {
        background: @footer_background_color;
    }
    100% {
        background: @logo_orange;
    }
}
