/**
 * Global base styles for the Yarrharr UI.
 */
@import "~normalize.css/normalize.css";
@import "./globals.less";

:root {
    --layout-max-width: none;
}
.layout-narrow {
    --layout-max-width: @narrow_width;
}

html {
    background: @background_color;
    color: @text_color;
    line-height: 1.4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

h1 {
    font-weight: normal;
}

:focus {
    outline: 1px dotted;
}

a {
    color: @text_color;
    text-decoration-line: underline;
}
a[role=button] {
    text-decoration-line: none;
}
a:visited:not([role=button]) {
    color: darken(@text_color, 20%);
}
a:link[aria-disabled=true],
a:visited[aria-disabled=true] {
    text-decoration-line: none;
}

/**
 * Base form styles
 *
 * .text-button and .text-button-primary can be used to style links to look
 * like buttons. The element needs to be focusable.
 *
 * .text-button is pretty muted. .text-button-primary is bright and bold.
 *
 * <input type=submit> receives the styling of .text-button-primary.
 *
 * All of these styles cause the element to be display: block. Layout is to be
 * defined at the point of use.
 */
input,
.text-button,
.text-button-primary {
    width: 100%;
    height: 2.5rem;
    font: inherit;
    display: block;
    box-sizing: border-box;
}
input[type=checkbox],
input[type=radio] {
    width: 2.5rem;
}
input[type=text],
input[type=password],
input[type=url] {
    color: @content_text_color;
    background: @content_background_color;
    border-color: @quiet_text_color;
    border-width: 0 0 2px 0;

    &:focus {
        border-color: @logo_orange;
    }
}
.text-button,
.text-button-primary,
input[type=submit] {
    .flat-button;
    border-color: @background_color;
    line-height: 2.5rem;
    padding: 0 0.75rem;

    &:focus { .flat-button-focus; }
}
input[type=submit],
.text-button-primary {
    color: white;
    text-shadow: rgba(0, 0, 0, .5) 0 0 .025rem; /* bump contrast */
    background-color: @logo_orange;
    border-color: @logo_orange_dark;

    &:focus {
        color: white;
        background-color: @logo_orange_dark;
        border-color: @logo_orange_dark;
    }

    &:active {
        color: white;
        background-color: @logo_orange_dark;
        border-color: @logo_orange_dark;
    }
}

.about-page {
    .content-colors;

    .about-page-inner {
        max-width: @narrow_width;
        margin: 0 auto;
        padding: 1px 0 1px 0; /* disable margin collapsing */
    }
}

/* A "floater" is centered and is horizontally centered.  Mainly used for
 * mastheads and error messages.
 *
 * DEPRECATED
 */
.floater-wrap {
    display: flex; /* XXX Why is this display: flex? */
    margin: 1rem .25rem;
}
.floater {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box; /* Fix #94 */
    padding: .5rem 1rem;
    max-width: @narrow_width;
    .content-colors;
}

.layout-narrow .bar {
}

.bar {
    display: flex;
    justify-content: space-between;
    height: @bar_height;
    max-width: var(--layout-max-width);
    margin: 0 auto;
    line-height: @bar_line_height;
    contain: size layout style;

    & > * {
        .flat-button;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > a[href]:focus {
        .flat-button-focus;
    }

    & .icon {
        display: block;
        font-size: @icon_size;
    }

    & > .square,
    & > .expand > .square {
        flex: 0 0 @bar_height;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .expand {
        flex: 1 1 0;
        min-width: @bar_height; /* allow shrinking below content size */
    }
}

.bar-inset {
    /* This is a mockup so it is hidden for now. */
    visibility: hidden;

    flex: 1 0 0;
    min-width: 0; /* allow shrinking below content size */

    border: 2px solid rgb(167, 167, 167);
    color: rgb(40, 40, 40);

    padding: 0 .5rem;
    margin: 0.5rem 0;
    /*
    box-shadow: inset .01rem .01rem .25rem rgba(0, 0, 0, 0.25);
    */
    background: white;

    justify-content: start;

    .icon {
        flex: 0 0 1.3rem;
        margin: 0 0.5rem 0 0;
    }

    h1 {
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font: inherit;
        margin: 0 0.5rem 0 0;
    }
}

/**
 * <div.tabs>
 *   <div.tabs-inner>
 *      <a.tab>text</a>
 *      <a.tab disabled>current tab</a>
 *   </div>
 * </div>
 */
.tabs {
    border-bottom: 2px solid #666;
    contain: layout style;
    background: @content_background_color;
}
.tabs-inner {
    display: flex;
    margin: 0 auto -2px auto;
    box-sizing: border-box;
    padding: 0 0 0 .5rem;
}
.layout-narrow .tabs-inner {
    max-width: @narrow_width;
}
/* base tab styles */
.tabs-inner > a {
    border: 2px solid #666;
    border-radius: .5rem .5rem 0 0;
    background: @content_background_color;
    text-decoration: none;
    line-height: 1.7;
    padding: 0.125rem 1rem 0 1rem;
    margin: 0 .5rem 0 0;
}
/* current tab */
.tabs-inner > a[aria-disabled="true"] {
    border-bottom-width: 0;
}
@media screen and (max-width: 34em) {
    .tabs-inner {
        padding: 0;
        min-height: 40px;  /* tappable size */
    }
    .tabs-inner > a {
        margin: 0;
        line-height: 1.2;
        border-radius: 0;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        flex-basis: 100%;
        text-align: center;
    }
    .tabs-inner > a + a {
        border-left-width: 0;
    }
    .tabs-inner > a:first-child {
        border-left-width: 0;
    }
    .tabs-inner > a:last-child {
        border-right-width: 0;
    }
}
/* TODO: Check what happens in very narrow windows. */
/* TODO: Make less ugly. */

/* Mostly used for the login page. */
form.small-form {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    .content-colors;

    label {
        display: block;
        color: @quiet_text_color;
    }
}

.login-page {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    margin: 0 auto;
    max-width: 35rem;

    @media screen and (orientation: landscape) {
        /* 8rem = approx. height of <footer> */
        min-height: calc(100vh - 8rem);
    }

    h1 {
        margin: 0;
        padding: 1rem 1rem;
        flex: 100 1 auto;

        text-align: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    form {
        flex: 1 1 15rem;
        min-width: 0;
        margin: 1rem 0 0 0;

        @media screen and (orientation: portrait) {
            flex-basis: 100%;
        }
    }
}

footer {
    margin: 3em 0.25em;
    text-align: center;
    color: lighten(@text_color, 40%);
}
