/**
 * Global variable definitions.
 */

@background_color: rgba(250, 250, 250, 1.0);
@text_color: rgb(20, 20, 20);

@toolbar_height: 40px;
@toolbar_background_color: darken(@content_background_color, 10%);

@dropdown_background_color: darken(@toolbar_background_color, 10%);

@content_background_color: white;
@content_text_color: rgb(40, 40, 40);

@logo_orange_light: #f17e31;
@logo_orange: #fb6500;
@logo_orange_dark: #da5200;

.grid(@background; @color) {
    /*
    @grid_size: 4px;
    @grid_line: 0.5px;
    background:
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent (@grid_size - @grid_line),
            @color (@grid_size - @grid_line),
            @color @grid_size),
        repeating-linear-gradient(
            to right,
            transparent,
            transparent (@grid_size - @grid_line),
            @color (@grid_size - @grid_line),
            @color @grid_size),
        @background;
    /**/
}

.content-colors() {
    color: @content_text_color;
    background: @content_background_color;
    .grid(
        @content_background_color;
        darken(@content_background_color, 5%)
    );
    a[href] {
        color: darken(@content_text_color, 20%);
        text-decoration: underline;
        text-decoration-color: lighten(@content_text_color, 40%);
    }
    a[href]:visited {
        color: @content_text_color;
    }
}

.toolbar-button {
    display: block;
    width: auto;
    height: @toolbar_height;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4px;
    border: 0;
    background: inherit;
    color: @content_text_color;
    transition: border-top-color 0.1s;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    line-height: (@toolbar_height - 8px); /* less borders */

    &:focus {
        outline: 1px dotted darken(@content_background_color, 50%);
    }
    &:active {
        animation: button-press;
    }
    &.current {
        border-top-color: @logo_orange;
    }
    &.progress {
        animation: progress-stripe 2s linear infinite;
    }
}

.toolbar-button-text {
    padding: 0 16px;
}

.toolbar-button-dropping {
    background: @dropdown_background_color;
}

@keyframes button-press {
    0% {
        background: inherit;
    }
    20% {
        background: @logo_orange;
        color: white;
    }
    100% {
        background: inherit;
    }
}

@keyframes progress-stripe {
    0% {
        border-top-color: @logo_orange;
    }
    50% {
        border-top-color: inherit;
    }
    100% {
        border-top-color: @logo_orange;
    }
}

/* The top toolbar */
.controls {
    display: flex;
    flex-flow: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: @toolbar_height;
    color: @content_text_color;
    background: @toolbar_background_color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

    .expand {
        flex: 1 1 auto;
        line-height: @toolbar_height;
        padding: 0 0 0 8px;
    }
}

/* Loading text and error messages */
.placeholder {
    margin: (2 * @toolbar_height) auto;
    max-width: 34em;
    text-align: center;
}
