/**
 * Global variable definitions.
 */

@background_color: rgba(250, 250, 250, 1.0);
@text_color: rgb(20, 20, 20);

@toolbar_height: 40px;
@toolbar_background_color: darken(@content_background_color, 10%);

@content_background_color: white;
@content_text_color: black;
@quiet_text_color: lighten(@content_text_color, 40%);

@logo_orange_light: #f17e31;
@logo_orange: #fb6500;
@logo_orange_dark: #da5200;

@narrow_width: 50em;

:focus {
    outline: 1px dotted;
}

.content-colors() {
    color: @content_text_color;
    background: @content_background_color;
    a[href] {
        color: @content_text_color;
        text-decoration: underline;
        text-decoration-color: rgb(28, 140, 199);
    }
    a[href]:visited {
        text-decoration-color: rgb(199, 68, 28);
    }
    a[href]:active {
        text-decoration-color: rgb(185, 28, 199);
    }
    a[href]:focus {
        outline: 1px dotted;
    }
}

/* A "floater" is centered and is horizontally centered.  Mainly used for
 * mastheads and error messages. */
.floater-wrap {
    display: flex;
    margin: 16px 4px;
}
.floater {
    text-align: center;
    margin: 0 auto;
    padding: 8px 16px;
    color: @content_text_color;
    background: @content_background_color;
    max-width: @narrow_width;
}

/* A button is round, subtly 3D, and features a centered icon. */
.button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 4px 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, @background_color, darken(@background_color, 10%));
    box-shadow: inset  1px  1.0px 3.5px lighten(@background_color, 10%),
                inset -1px -1.0px 3.5px darken(@background_color, 20%);

    img {
        display: block;
        width: 24px;
        height: 24px;
        padding: 8px;
    }
}

.button:active, .button-active {
    background: linear-gradient(to top, @background_color, darken(@background_color, 10%));
    box-shadow: inset  1px  1.0px 3.5px darken(@background_color, 20%),
    inset -1px -1.0px 3.5px lighten(@background_color, 10%);
    & > * {
        transform: translate(1px, 1px);
    }
}

/* Due to limitations of <button> it can't be made display: flex.  The
 * workaround is to stick a <div> inside it.  This just zeros out the button
 * styles.  See <https://bugzilla.mozilla.org/show_bug.cgi?id=984869#c2>. */
.invisible-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

/* A text-button contains a .button and some text to the right */
.text-button {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none !important; /* *sigh* */
    line-height: 40px;

    & > .button {
        flex: none;
        margin: 0 4px 0 0;
    }
}
.text-button-left {
    & > .button {
        margin: 0 0 0 4px;
    }
}

.global-tools {
    display: flex;
    padding: 4px;
    justify-content: space-between;

    .view-button {
        flex: none;
        align-self: end;
    }
}

footer {
    margin: 3em 0.25em;
    text-align: center;
    color: lighten(@text_color, 40%);
}
