@import "./globals.less";

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @toolbar_height;
    background: darken(@background_color, 20%);
    color: darken(@text_color, 20%);
    display: flex;
    flex-flow: row;
    align-items: center;
}
.toolbar > * {
    margin: 0 4px;
}

.toolbar button {
    background: lighten(@background_color, 20%);
    color: @text_color;
    padding: 6px 18px;
    border-radius: 7px;
    border: 2px solid transparent;

    &:active {
        background: lighten(@background_color, 10%);
    }
    &:focus {
        border-color: @logo_orange;
    }
}
