@import "./globals.less";

.view-picker {
    h2 {
        font: inherit;
        color: darken(@text_color, 40%);
        margin: 0;
        padding: 16px 16px 0 16px;
    }
    .group {
        display: flex;
        flex-flow: row;
        padding: 16px;

        button {
            flex: none;
            margin-right: 20px;
        }
    }

}
