.view-picker {
    display: flex;
    flex-flow: row;

    .group {
        border: 1px solid white;
        border-radius: 5px;
        display: flex;
        flex-flow: row;

        span {
            padding: 5px;
        }
        span:not(:first-child) {
            border-left: 1px solid white;
        }
    }

}
