{% extends "base.html" %}

{% block title %}{{ article.title|default:"Untitled" }}{% endblock %}

{% block content %}
<div id="yarrharr" class="layout-narrow">

  {% include "header.html" %}

  <div class="feed-header">
    <h1>{{ article.title|default:"Untitled" }}</h1>
  </div>

  <div class=article-view>
    <div class=prop-sticky>

      <article>
        <div class="meta">
          {# TODO: Link back should include this article ID #}
          From <a href="{% url 'feed-show' article.feed.id 'unread' %}">{{ article.feed.title }}</a>
          {% if article.author %}
          — {{ article.author }}
          {% endif %}
          {% if article_labels %}
          — in
          {% for label in article_labels %}
          {# TODO: Link back should include this article ID #}
          <a href="{% url 'label-show' label.id 'unread' %}">{{ label.text }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
          {% endif %}
        </div>
        <div class="meta">
          {{ article.date }}
          — <a href="{{ article.url }}" target="_blank">
            Original site
            <svg width="1em" height="1em" aria-hidden="true" class="icon">
              <use xlink:href="#icon-outbound"></use></svg>
          </a>
        </div>
        <div class="content">{{ article.content|safe }}</div>
      </article>

      <div class="bar snapshot-nav">
        <div class="expand"></div>

        {# TODO: Working fave toggle #}
        <button
          class="fave-toggle square"
          tabindex="0"
          aria-pressed="true"
          aria-label="Favorite"
          title="Mark article as not favorite"
        >
          <svg width="1em" height="1em" viewBox="0 0 1 1" aria-hidden="true" class="icon">
            <defs>
              <mask id="heart-mask">
                <use xlink:href="#icon-heart" color="white"></use>
              </mask>
            </defs>
            <g mask="url(#heart-mask)">
              <rect class="inactive" width="1" height="1"></rect>
              <rect class="active" width="1" height="1"></rect>
            </g>
          </svg>
        </button>

        {# TODO: Working read toggle #}
        <button class="read-toggle square"
          aria-pressed="true"
          aria-label="Read"
          title="Mark unread"
        >
          <svg width="1em" height="1em" viewBox="0 0 1 1" aria-hidden="true" class="icon">
            <defs>
              <mask id="check-mask">
                <use xlink:href="#icon-check" color="white"></use>
              </mask>
            </defs>
            <g mask="url(#check-mask)">
              <rect class="inactive" width="1" height="1"></rect>
              <rect class="active" width="1" height="1"></rect>
            </g>
          </svg>
        </button>

      </div>

    </div>
  </div>

</div>
{% endblock %}
