<style nonce="{{ csp_nonce }}">

.list-article {
  contain: layout; {# Establish positioning context #}

  --focus-offset: var(--focus-offset-in); /* Don't clip focus ring. */

  {# Tabular display on wide pages #}
  @media (min-width: 50rem) {
    margin: 0.75rem 0;
    display: flex; {# Flexbox rather than grid so we can omit columns without altering the styles. #}
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;

    .meta1 {
      display: contents;

      .feed-title, .date, .author {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 1rem;
        min-width: 0;
      }
      .feed-title {
        flex: 1 1 10rem;
        min-width: 10rem;
      }
      .date {
        flex: 0 1 12rem;
        min-width: 12rem;
      }
      .author {
        flex: 1 1 8rem;
        min-width: 5rem;
      }
      .author:empty {
        color: var(--quiet-text-color);
        &::before {
          content: "〜";
        }
      }
    }

    .meta2 {
      flex: 1 1 50%;
      min-width: 0;
    }

    .fave {
      bottom: 0.1rem;
      right: calc(var(--icon-size) + 1.5rem);
    }
  }

  {# Multi-line display on narrower pages #}
  @media (not (min-width: 50rem)) {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-areas:
      "meta1 meta1"
      "meta2 read-toggle"
      "meta2 view-link";
    gap: 0.25rem;

    .meta1 {
      grid-area: meta1;
      font-size: smaller;
      color: var(--quiet-text-color);
      display: grid;
      grid-template-areas: "feed-title author date";
      grid-template-columns:
        minmax(0, min-content) 1fr 1fr;

      .feed-title, .author, .date {
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
      }
      .feed-title {
        grid-area: feed-title;
        margin-right: 0.5rem;
      }
      .author {
        grid-area: author;
        font-style: italic;
        text-overflow: ellipsis;
      }
      .date {
        grid-area: date;
        text-align: right;
      }
    }
    .meta2 {
      line-height: 1.7;
      grid-area: meta2;
      line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    .fave {
      bottom: calc(var(--icon-size) + 0.25rem + 0.5rem);
      right: 0.25rem;
    }
  }


  .meta2 {
    gap: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;

    .title, .snippet {
      display: inline;
    }

    .title {
        flex: 0 1 max-content;
        color: var(--text-color);
        padding-right: 1.5rem;
    }
    &:hover .title {
      text-decoration-line: underline;
      text-decoration-color: var(--underline-color);
    }
    .snippet {
      color: var(--quiet-text-color);
    }
  }

  read-toggle,
  .view-link {
      flex: 0 0 var(--bar-height);
  }
  read-toggle {
    grid-area: read-toggle;
    button {
      width: 100%;
      height: 100%;
    }
  }
  .view-link {
    grid-area: view-link;
  }

  {# Position a little heart badge next to the read toggle. #}
  .fave {
    color: var(--heart-color);
    font-size: smaller;
    position: absolute;
    transform: rotate(10deg);
    pointer-events: none; /* Don't interfere with the read toggle. */
  }

  .outbound-icon,
  read-toggle button,
  .view-link {
      font-size: var(--icon-size);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      .icon {
          flex: 0 0 auto;
          display: block;
          align-self: center;
          justify-self: center;
      }
  }
}

</style>

{% for article in articles %}
<div class="list-article">
  <span class="meta1">
    {% if not hide_feed_title %}
      <span class="feed-title">{{ article.feed.title }}</span>
    {% endif %}
    <time class="date" datetime="{{ article.date.isoformat }}">{{ article.date }}</time>
    {% if not hide_author %}
      <span class="author">{{ article.author }}</span>
    {% endif %}
  </span>
  <a class="meta2 no-underline" href="{{ article.url }}" target="_blank" title="View on source site">
    {% if article.title %}
      <span class="title">{{ article.title }}</span>
    {% endif %}
    <span class="snippet">{{ article.content_snippet }}</span>
  </a>
  <read-toggle article-id="{{ article.id }}" {{ article.read|yesno:"checked," }}></read-toggle>
  {% if article.fave %}
    <svg role="img" class="fave" width="1em" height="1em" class="icon" aria-hidden="false">
      <title>Favorite</title>
      <use xlink:href="#icon-heart" />
    </svg>
  {% endif %}
  <a class="square view-link" href="{% url 'article-show' article.id %}">
    <svg width="1em" height="1em" title="View article" class="icon" aria-hidden="false"><use xlink:href="#icon-follow"></use></svg>
  </a>
</div>
{% endfor %}

{% if next_page_after %}
<div class="pagination"><a class="lazy-underline" href="?after={{ next_page_after }}">More →</a></div>
{% endif %}
