{# <read-toggle article-id=1234 checked> #}

<template id="read-toggle-template">
  <button>
    <svg width="1em" height="1em" viewBox="0 0 1 1" aria-hidden="true" class="icon">
      <defs>
        <mask id="check-mask">
          <use xlink:href="#icon-check" color="white"></use>
        </mask>
      </defs>
      <g mask="url(#check-mask)">
        <rect class="inactive" width="1" height="1"></rect>
        <rect class="active" width="1" height="1"></rect>
      </g>
    </svg>
  </button>
</template>


{# <fave-toggle article-id=1234 checked> #}

<template id="fave-toggle-template">
  <button
    class="fave-toggle square"
  >
    <svg width="1em" height="1em" viewBox="0 0 1 1" aria-hidden="true" class="icon">
      <defs>
        <mask id="heart-mask">
          <use xlink:href="#icon-heart" color="white"></use>
        </mask>
      </defs>
      <g mask="url(#heart-mask)">
        <rect class="inactive" width="1" height="1"></rect>
        <rect class="active" width="1" height="1"></rect>
      </g>
    </svg>
  </button>
</template>


<script type="module" nonce="{{ script_nonce }}">
{% url 'api-flags' as flag_api_url %}
const flagsApi = "{{ flag_api_url|escapejs }}";

function post(path, body) {
  // console.log('POST %s %o', path, body);
  return fetch(path, {
    method: 'POST', // a.k.a. "RPC"
    body: body,
    headers: {
      {# Pass the Django CSRF token (or the request will be rejected). #}
      'X-CSRFToken': document.cookie.match(/(?:^|\s)csrftoken=([^\s;]+)/)[1],
    },
    {# Pass cookies (or the request will be rejected). #}
    mode: 'same-origin',
  }).then((response) => {
    if (!response.ok) {
      throw new Error(response);
    }
    return response.json();
  });
}

function setFlag(articleId, flagName, flagValue) {
  const body = new FormData();
  body.append('article', articleId);
  body.append(flagName, flagValue ? 'true' : 'false');

  return post(flagsApi, body).catch(e => {
    console.error(`setFlag request articleId=${articleId}, ${flagName}=${flagValue} failed`, e);
    throw e;
  })
}

const toggles = new Map();

function registerToggle(articleId, element) {
  if (!toggles.has(articleId)) {
    toggles.set(articleId, []);
  }
  toggles.get(articleId).push(element);
}

function updateToggles(articleId, flagName, value) {
  // console.log('updateToggles(%o, %o, %o', articleId, flagName, value)
  for (const element of toggles.get(articleId)) {
    if (element.flagName === flagName) {
      element.checked = value;
    }
  }
}

document.onvisibilitychange = (e) => {
  console.log('visibilitychange %o %s', e, document.visibilityState)
  if (document.visibilityState !== 'visible')
    return;

  const body = new FormData();
  for (let articleId of toggles.keys()) {
    body.append('article', articleId);
  }
  return post(flagsApi, body).then(flagsById => {
    // console.log('flagsById = %o', flagsById);
    for (const [articleId, {read, fave}] of Object.entries(flagsById)) {
      updateToggles(articleId, "read", read);
      updateToggles(articleId, "fave", fave);
    }
  }).catch(e => {
    console.error('Flag update failed', e);
    throw e;
  });
}

const readButtonTemplate = document.getElementById("read-toggle-template").content.querySelector("button");

window.customElements.define("read-toggle", class extends HTMLElement {
  connectedCallback() {
    this._button = readButtonTemplate.cloneNode(true);
    this.checked = !!this.checked;
    registerToggle(this.articleId, this)
    this._button.onclick = (e) => {
      updateToggles(this.articleId, this.flagName, !this.checked);
      setFlag(this.articleId, this.flagName, this.checked).catch((e) => {
        updateToggles(this.articleId, this.flagName, !this.checked);
        throw e;
      })
    }
    this.appendChild(this._button);
  }

  get flagName() {
    return "read";
  }

  get articleId() {
    return this.getAttribute("article-id")
  }

  get checked() {
    return this.hasAttribute("checked");
  }

  set checked(value) {
    if (value) {
      this.setAttribute("checked", "");
    } else {
      this.removeAttribute("checked")
    }
    this._button.setAttribute("aria-pressed", value ? "true" : "false");
    this._button.setAttribute("aria-label", value ? "Read" : "Unread");
    this._button.setAttribute("title", value ? "Mark unread" : "Mark read");
  }
});


const faveButtonTemplate = document.getElementById("fave-toggle-template").content.querySelector("button");

window.customElements.define("fave-toggle", class extends HTMLElement {
  connectedCallback() {
    this._button = faveButtonTemplate.cloneNode(true);
    registerToggle(this.articleId, this)
    this.checked = !!this.checked;
    this._button.onclick = (e) => {
      updateToggles(this.articleId, this.flagName, !this.checked);
      setFlag(this.articleId, this.flagName, this.checked).catch((e) => {
        updateToggles(this.articleId, this.flagName, !this.checked);
        throw e;
      })
    }
    this.appendChild(this._button);
  }

  get flagName() {
    return "fave";
  }

  get articleId() {
    return this.getAttribute("article-id")
  }

  get checked() {
    return this.hasAttribute("checked");
  }

  set checked(value) {
    if (value) {
      this.setAttribute("checked", "");
    } else {
      this.removeAttribute("checked")
    }
    this._button.setAttribute("aria-pressed", value ? "true" : "false");
    this._button.setAttribute("aria-label", value ? "Favorite" : "Not favorite");
    this._button.setAttribute("title", value ? "Mark as a favorite" : "Mark as not favorite");
  }
});

</script>
