{% extends "base.html" %}

{% block title %}Add Feed{% endblock %}

{% block content %}

<style nonce="{{ csp_nonce }}">
.feed-add {
  margin: 2rem auto;
  padding: 1.5rem 2rem 2rem 2rem;
  max-width: var(--layout-max-width);
  background: var(--footer-background-color);
  border: 2px solid var(--border-color);

  border-radius: 0.5rem;
}
h1 {
  margin: 0 0 1rem 0;
}

</style>


<div id="yarrharr">

  {% include "header.html" %}

  <div class="feed-add">
    <h1>Add Feed</h1>

    <form action="{% url 'feed-add' %}" method="POST" name="feed-add" class="small-form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="inventory-tools">
        <input class="text-button text-button-primary" type="submit" value="Add">
      </div>
    </form>
  </div>

</div>

<script type="module" nonce="{{ csp_nonce }}">

document.getElementById("id_url").addEventListener("input", (e) => {
  if (e.isComposing) return;
  if (e.target.value.startsWith("view-source:")) {
    e.target.value = e.target.value.slice("view-source:".length);
  }
});

</script>

{% endblock %}

