{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ feed.title }} - Edit{% endblock %}

{% block content %}

<style nonce="{{ csp_nonce }}">
.feed-edit {
  margin: 2rem auto;
  max-width: var(--layout-max-width);
}
</style>

<div id="yarrharr" class="layout-narrow">

  {% include "header.html" %}
  {% include "feed_header.html" %}

  <div class="feed-edit">
    <form action="{% url 'feed-edit' feed.id %}" method="POST" name="feed-edit">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="inventory-tools">
        <input class="text-button text-button-primary" type="submit" value="Save">
      </div>
    </form>

    <h2>Status</h2>
    {% if feed.error %}
      <p>⚠️ {{ feed.error }}</p>
    {% endif %}

    <table>
      <tbody>
        <tr>
          <th>Next check</th>
          <td>
            {% if feed.next_check %}
              {{ feed.next_check }} (in {{ feed.next_check|timeuntil }})
            {% else %}
              never
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Last checked</th>
          <td>
            {% if feed.last_checked %}
              {{ feed.last_checked }} ({{ feed.last_checked|timesince }} ago)
            {% else %}
              never
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Last changed</th>
          <td>
            {% if feed.last_changed %}
              {{ feed.last_changed }} ({{ feed.last_changed|timesince }} ago)
            {% else %}
              never
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>ETag</th>
          <td><code>{{ feed.etag }}</code></td>
        </tr>
        <tr>
          <th>Last-Modified</th>
          <td><code>{{ feed.last_modified }}</code></td>
        </tr>
        <tr>
          <th>Digest</th>
          <td><code>{{ feed.digest.hex }}</code></td>
        </tr>
        <tr>
          <th>Content length</th>
          <td>{{ feed.content_length|intcomma }}{% if feed.content_length %} bytes{% endif %}</td>
        </tr>
        <tr>
          <th>Content location</th>
          <td>{{ feed.content_location|urlize }}</td>
        </tr>
        <tr>
          <th>Feed title</th>
          <td>{{ feed.feed_title }}</td>
        </tr>
        <tr>
          <th>URL</th>
          <td>{{ feed.url|urlize }}</td>
        </tr>
        <tr>
          <th>Site URL</th>
          <td>{{ feed.site_url|urlize }}</td>
        </tr>
      </tbody>
    </table>



  </div>


</div>
{% endblock %}
