{% load static %}
{% load static_glob %}
{% load ytabs %}

<div class="bar">
  <a class="yarrharr-masthead" href="{% url 'home' %}">
    <img class="logotype" width="46" height="15" src="{% static 'logotype-*.svg'|newest_static %}" alt="Yarrharr">
    <img class="lettertype" width="20" height="20" src="{% static 'lettertype-*.svg'|newest_static %}" alt="Yarrharr">
  </a>

  <nav class="global-links">
    <a {% tabattrs "global-all-show" %} class="global-link no-underline" href="{% url 'all-show' 'unread' %}">All</a>
    <a {% tabattrs "global-label-list" %} class="global-link no-underline" href="{% url 'label-list' %}">Labels</a>
    <a {% tabattrs "global-feed-list" %} class="global-link no-underline" href="{% url 'feed-list' %}">Feeds</a>
    <a {% tabattrs "global-feed-add" %} class="global-link no-underline" href="{% url 'feed-add' %}">+</a>
  </nav>

  {# TODO replace button with media query #}
  <button class="square" aria-pressed="false" aria-label="Dark theme" title="Switch to dark theme"><svg width="1em" height="1em" aria-hidden="true" class="icon"><use xlink:href="#icon-moon"></use></svg></button>

  {# TODO replace button with media query #}
  <button class="square" aria-label="Wide" title="Switch to wide layout"><svg width="1em" height="1em" viewBox="0 0 20 20" class="icon" aria-hidden="true"><path d="M 7 5 L 2 10 L 7 15M 2 10 L 18 10M 13 5 L 18 10 L 13 15" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path></svg></button>

  {# TODO implement fullscreen button #}
  <button class="square" title="Fullscreen" aria-pressed="false"><svg width="1em" height="1em" viewBox="0 0 20 20" class="icon" aria-hidden="true"><path d="
  M 3 7 L 3 3 L 7 3
  M 13 17 L 17 17 L 17 13
  M 3 13 L 3 17 L 7 17
  M 13 3 L 17 3 L 17 7
  " fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path></svg></button>

</div>
