{% load static %}
{% load static_glob %}
{% load ytabs %}

<div id="global-nav">
  <a id="masthead" href="{% url 'home' %}">
    <span class="lettertype">Y</span><span class="logotype">arrharr</span>
  </a>

  <nav class="global-links">
    <a class="global-link no-underline" href="{% url 'all-show' 'unread' %}">
      <svg width="1em" height="1em" class="icon icon-inline" aria-hidden="true">
         <use xlink:href="#icon-all" />
      </svg>
      <span>All</span>
    </a>
    <a class="global-link no-underline" href="{% url 'label-list' %}">
      <svg width="1em" height="1em" class="icon icon-inline" aria-hidden="true">
       <use xlink:href="#icon-label" />
      </svg>
      <span>Labels</span>
    </a>
    <a class="global-link no-underline" href="{% url 'feed-list' 'updated' %}">
      <svg width="1em" height="1em" class="icon icon-inline" aria-hidden="true">
       <use xlink:href="#icon-feed" />
      </svg>
      <span>Feeds</span>
    </a>
    <a class="global-link secondary no-underline" href="{% url 'feed-add' %}">
      <svg width="1em" height="1em" class="icon icon-inline" aria-hidden="true">
       <use xlink:href="#icon-plus" />
      </svg>
      <span>Add Feed</span>
    </a>
  </nav>

  <button id="layout-button" class="square" aria-label="Wide" title="Switch to wide layout">
    <svg width="1em" height="1em" class="icon" aria-hidden="true">
     <use xlink:href="#icon-wide" />
    </svg>
  </button>

  <button id="fullscreen-button" class="square" title="Fullscreen" aria-pressed="false">
    <svg width="1em" height="1em" class="icon" aria-hidden="true">
     <use xlink:href="#icon-fullscreen" />
    </svg>
  </button>

</div>

<script type="module" nonce="{{ csp_nonce }}">
  const b = document.getElementById("layout-button");
  const y = document.getElementById("yarrharr");

  function readFromStorage() {
    const wide = window.localStorage.getItem("layout") == "wide";
    updateDOM(wide);
  }

  function updateDOM(wide) {
    b.querySelector("use").setAttribute("xlink:href", wide ? "#icon-narrow" : "#icon-wide");
    b.setAttribute("title", wide ? "Switch to narrow layout" : "Switch to wide layout");
    y.classList.toggle("layout-narrow", !wide);
    y.classList.toggle("layout-wide", wide);
  };

  function writeToStorage(wide) {
    window.localStorage.setItem("layout", wide ? "wide" : "narrow");
  }

  window.onstorage = readFromStorage;

  b.onclick = e =>  {
    const wide = !y.classList.contains("layout-wide");
    updateDOM(wide);
    writeToStorage(wide);
  };

  readFromStorage();
</script>

<script type="module" nonce="{{ csp_nonce }}">
  const b = document.getElementById("fullscreen-button");
  b.onclick = e =>  {
    if (document.fullscreenElement) {
      document.exitFullscreen();
    } else {
      document.documentElement.requestFullscreen();
    }
  };
  {# NB: Navigation always cancels fullscreen mode, so there's no need to sync this on page load #}
  document.documentElement.onfullscreenchange = e => {
    const fs = !!document.fullscreenElement;
    b.querySelector("use").setAttribute("xlink:href", fs ? "#icon-unfullscreen" : "#icon-fullscreen");
    b.setAttribute("aria-pressed", fs ? "true" : "false");
  };
</script>
