{% extends "base.html" %}

{% load static %}
{% load static_glob %}

{% block title %}Login{% endblock %}

{% block content %}

<style nonce="{{ csp_nonce }}">
.login-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    margin: 0 auto;
    max-width: 32rem;

    h1 {
        margin: 0;
        padding: 1rem 1rem 0 0;
        flex: 100 1 auto;

        font: 3.5rem Montez, sans-serif;

        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            filter: var(--logo-filter);
        }
    }

    form {
        flex: 1 1 100%;
        min-width: 0;
        margin: 0;
        padding: 0.5rem 1rem;
    }

    /* Desktop layout */
    @media screen and (min-width: 32rem) {
        flex-flow: row nowrap;
        align-items: center;
        min-height: 90vh;

        form {
            flex-basis: 15rem;
        }
    }
}
</style>

<div class="login-page">
    <h1>Yarrharr</h1>

    <form method=post action="{% url 'login' %}" class="small-form">
        {{ form.as_p }}

        <p class=actions>
            <input class="text-button text-button-primary" type=submit value="Login">
            <input name="next" type=hidden value="{{ next }}">
            {% csrf_token %}
    </form>
</div>
{% endblock %}
